@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body { 
    font-family: "Inter", sans-serif;
}

.struggle { 
    background-image: url("https://uploads-ssl.webflow.com/634d41276b882236cc52de2c/642b5a41ad38a45c453b72a8_Vector.svg");
    background-position : 40% 95%  ; 
    background-repeat: no-repeat;
    background-size: 11rem;
    padding-bottom: 1%;

}


.scroll-bar { 
    scrollbar-color: red orange;
}